# Deep learning
torch
torchaudio
numpy

# Midi editing
mido

# Audio processing
librosa

# Visualization
matplotlib
IPython
midi2audio
tqdm
tensorboard
protobuf

# Other
# Strip away output of jupyter notebooks (used before commit to git) (I don't think this actually works)
# Requires the following configuration of git:
# git config filter.strip-notebook-output.clean 'jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR'


# Install required packages (system)
# Linux
# !sudo apt install -y fluidsynth
# Mac
# !brew install fluidsynth